<h3>Please fill out the pet information</h3>
<%= simple_form_for pet do |f| %>
  <%= f.input :name, label: "What is your best friend's name?" %>
  <%= f.input :address %>
  <%= f.input :species, collection: Pet::SPECIES, include_blank: false, label: "Species" %>
  <%= f.input :found_on, as: :string, input_html: {type: :date} %>
  <%= f.submit "Report missing pet", class: "btn btn-primary" %>
<% end %>
